
<ul class="nav nav-tabs">
    <li   (click) = "onClick($event)"  routerLinkActive="active" routerLink ="/expenseSummary/monthly" >
        <a id = "monthly" >Monthly</a>
    </li>
    <li   (click) = "onClick($event)" routerLink="/expenseSummary/weekly" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a id = "weekly">Weekly</a>
    </li>
    <li  (click) = "onClick($event)"  routerLink="/expenseSummary/daily" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a id = "daily">Daily</a>
    </li>

</ul>

<form [formGroup] = "summarySelectorForm"   novalidate>
<div *ngIf="summaryType == 'daily'" class="form-group">
    <label class="center-block"> Please select a date:
        <p-calendar  (onSelect)="onSelect(value)"  dateFormat="dd.mm.yy" readonlyInput="readonlyInput" formControlName="day"> </p-calendar>
        {{selectedDate}}
    </label>
</div>

<div *ngIf="summaryType == 'monthly'" class="form-group">
         <label class="center-block">Please select a month:
            <select (change)="onSelect(value)" class="form-control" formControlName ="month">
                <option *ngFor="let month of months" [value]="month.value" >{{month.name}}</option>
            </select>
        </label>
</div>

<div *ngIf="summaryType == 'weekly'" class="form-group">
      <label class="center-block"> Please select week start date:
        <p-calendar (onSelect)="onSelect(value)"  dateFormat="dd.mm.yy" readonlyInput="readonlyInput" formControlName ="weekStart"> </p-calendar>
        {{selectedDate}}
    </label>
</div>

</form>

<div class="panel panel-default">
    <h3> Expense Summary</h3>
    <div class="panel-body">
        <table class="table">

        <tbody>
        <tr>
            <td> Total Expenses</td>
            <td>{{totalExpense}}</td>
            <td> <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#detail">Details</button></td>

        </tr>
        </tbody>
    </table>

    </div>

    <div  id="detail" class="collapse table-responsive">
            <table class="table">
                <tr *ngFor ="let item of expenseSummary let i = index" [attr.data-index]="i">
                    <td>{{i+1}})</td>
                    <td>{{item.category}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </table>
    </div>
</div>